---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

nameSuffix: ".9.stream"

components:
  - ./metadata
  - ./requirements
  - ../../components/rng
  - ../../components/secureboot
  - ../../components/disk-dedicatediothread
